@font-face {
  font-family: Roboto;
  src: url(../../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Carmen Sans;
  src: url(../../font/carmen-sans/Carmen-Sans-SemiBold.otf);
}

@mixin displayCommon {
  display: flex;
  justify-content: space-between;
}

@mixin fontText($color, $fontSize, $fontFamily) {
  color: $color;
  font-size: $fontSize;
  font-family: $fontFamily;
}

$dark-pink-color: #d75f8d;
$light-pink-color: #e28bae;
$gray-color: #747474;
$light-black: #262626;

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  margin: 0;
  .container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .small-nav {
      transition-duration: 0.25s;
      width: 6% !important;
      .icon-arrow {
        transform: rotate(180deg);
        margin: 20px 35px 0 0 !important;
      }
      .menu-list {
        li {
          .active {
            display: block;
            color: transparent;
            white-space: nowrap;
          }
        }
      }
    }
    .header {
      display: none;
    }
    .sidebar {
      transition-duration: 0.25s;
      width: 18%;
      min-height: 100vh;
      left: 0%;
      right: 0%;
      top: 0px;
      background: #ffffff;
      border-radius: 0 20px 20px 0;
      box-shadow: -3px 3px 5px 5px #cec8c8;
      .active {
        display: none;
      }
      .icon-arrow {
        float: right;
        margin: 20px 20px 0 0;
        border: none;
        background: none;
        &:focus {
          outline: none;
        }
      }
      .user-info {
        display: flex;
        align-items: center;
        margin: 62px 0 0 25px;
        .name-user {
          margin-left: 25px;
          .name-big {
            @include fontText($light-black, 18px, Carmen Sans);
            font-weight: 500;
            line-height: 18px;
            text-align: center;
          }
          .name-profile {
            @include fontText($dark-pink-color, 14px, Roboto);
            line-height: 18px;
          }
        }
      }
      .menu-list {
        list-style-type: none;
        padding-inline-start: 0;

        li {
          position: relative;
          @include fontText($gray-color, 18px, Roboto);
          align-items: center;
          display: flex;
          padding: 22px 40px;
          &:hover {
            background: $light-pink-color;
            @include fontText($light-black, 18px, Roboto);
            font-weight: 600;
          }
          img {
            margin-right: 35px;
          }
          .number {
            position: absolute;
            width: 13px;
            height: 13px;
            left: 54px;
            top: 20px;
            @include fontText(#ffffff, 10px, Roboto);
            font-weight: 500;
            line-height: 12px;
            text-align: center;
            border: 1px solid #dcd5d5;
            background: #ff00f5;
            border-radius: 100%;
            z-index: 9;
          }
        }
        .logout {
          color: $light-black;
        }
      }
      .menu-first {
        min-height: 80vh;
        .active-text {
          @include fontText($light-black, 18px, Roboto);
          font-weight: 600;
        }
      }
    }
    .main-show {
      width: calc(94% - 56px) !important;
      .chat-reminders {
        .chat-content {
          .list-chat {
            li {
              padding: 7.5px 0 !important;
            }
          }
        }
        .reminders {
          width: 42vw;
          .event-content {
            .img-event {
              width: 100% !important;
            }
          }
        }
      }
      .community {
        .com-content {
          .main-img {
            img {
              width: 564px;
            }
          }
        }
      }
    }
    .main {
      width: calc(82% - 56px);
      margin: 28px;
      .title-chat {
        @include fontText(#000000, 22px, Carmen Sans);
        font-weight: 500;
        line-height: 31px;
        margin: 23px 0 9px 0;
      }
      .search {
        position: relative;
        width: 100%;
        margin-right: 28px;
        .input-search {
          width: 100%;
          height: 60px;
          top: 28px;
          background: #ffffff;
          border: 2px solid #dbdbdb;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 0 50px;
        }
        .icon-search {
          position: absolute;
          left: 20px;
          top: 38%;
        }
      }
      .chat-reminders {
        width: 100%;
        display: flex;
        .chat {
          width: 96%;
        }
        .reminders {
          .title-reminder {
            @include displayCommon;
            position: relative;
            .see-more {
              @include fontText($dark-pink-color, 16px, Roboto);
              position: absolute;
              right: 0;
              top: 25px;
            }
          }
          .event {
            position: relative;
            .all-events {
              @include fontText($dark-pink-color, 16px, Roboto);
              position: absolute;
              right: 0;
              top: 25px;
            }
          }
          .event-content {
            background: #fff;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            .img-event {
              border-radius: 5px 5px 0 0;
              width: 487px;
            }
            .main-event {
              padding: 10px 15px 15px 15px;
              button {
                @include fontText(#fff, 16px, Roboto);
                background: $dark-pink-color;
                box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
                border-radius: 40px;
                padding: 12px;
                border: none;
                font-weight: 500;
                margin: 15px 0 10px 0;
              }
              p {
                margin-block-start: 0;
                margin-block-end: 0;
              }
              .connect {
                @include fontText(#828282, 12px, Roboto);
                line-height: 12px;
              }
              .online {
                @include fontText(rgba(0, 0, 0, 0.87), 25px, Roboto);
                line-height: 35px;
                font-weight: 600;
              }
              .date,
              .des {
                @include fontText(#828282, 12px, Roboto);
                line-height: 15px;
              }
              .clr {
                color: #828282;
              }
            }
          }
        }
        .chat-content {
          background: #fff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          border-radius: 5px;
          padding: 24px;
          margin-right: 28px;
          .guided {
            @include fontText($gray-color, 12px, Roboto);
            margin-block-start: 0px;
            margin-block-end: 0;
          }
          .header-search {
            @include displayCommon;
            align-items: center;
            margin-bottom: 20px;
            .search-second {
              width: 100%;
              margin-right: 28px;
              position: relative;
              .input-search {
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                top: 28px;
                background: #ffffff;
                border: 2px solid #dbdbdb;
                border-radius: 5px;
                padding: 0 50px;
              }
              .icon-search-chat {
                position: absolute;
                left: 20px;
                top: 33%;
              }
            }
          }
          .list-chat {
            list-style-type: none;
            padding-inline-start: 0;
            li {
              @include displayCommon;
              align-items: center;
              padding: 4px 0;
              .infor-chat {
                display: flex;
                align-items: center;
                .avt-user {
                  position: relative;
                  min-width: 60px;
                  .active-icon {
                    background: #34d377;
                    height: 11px;
                    width: 11px;
                    border-radius: 100%;
                    position: absolute;
                    right: 12px;
                  }
                  .message-number {
                    position: absolute;
                    background: #eb5757;
                    @include fontText(#f2f2f2, 9px, Roboto);
                    border-radius: 100%;
                    height: 11px;
                    width: 11px;
                    text-align: center;
                    bottom: 12px;
                    right: 12px;
                  }
                  .multy {
                    top: 4px;
                    position: absolute;
                    left: 10px;
                  }
                  img {
                    margin-right: 10px;
                  }
                }
                .name {
                  font-weight: 600;
                  margin-block-end: 0;
                  @include fontText($light-black, 14px, Roboto);
                }
                .des-name {
                  margin-block-start: 0;
                  @include fontText($gray-color, 12px, Roboto);
                }
              }
            }
            .time {
              @include fontText($gray-color, 12px, Roboto);
            }
          }
        }
        .reminder-content {
          background: #fff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          border-radius: 5px;
          align-items: center;
          @include displayCommon;
          .card-first {
            display: flex;
            align-items: center;
            .card-date {
              background: $light-pink-color;
              padding: 12px;
              width: 55px;
              text-align: center;
              font-weight: 500;
              @include fontText(#fff, 22px, Carmen Sans);
              border-radius: 5px 0 0 5px;
            }
            .text {
              @include fontText($light-black, 12px, Roboto);
              font-weight: 500;
              margin-left: 15px;
              width: 130px;
            }
          }
          .avt {
            margin: 5px 20px 0 0;
          }
        }
        .chat-search {
          @include fontText($gray-color, 14px, Roboto);
          font-weight: 500;
          line-height: 16px;
          margin: 5px 42px;
        }
      }
      .community {
        ::-webkit-scrollbar {
          height: 10px;
        }
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
          background: rgb(177, 175, 175);
          border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
          background: #8f8e8e;
        }
        .com-content {
          @include displayCommon;
          width: 100%;
          overflow: auto;
        }
        .main-img {
          position: relative;
          margin-right: 28px;
          img {
            border-radius: 5px;
            width: 487px;
          }
          .card-time {
            background: $light-pink-color;
            padding: 15px;
            border-radius: 0 10px 0 5px;
            width: 180px;
            position: absolute;
            bottom: 3px;
            @include fontText(#fff, 14px, Roboto);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .header-main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .icon-search-mobile {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  body {
    .container {
      .small-nav {
        width: 8% !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  body {
    .container {
      .sidebar {
        width: 24%;
      }
      .small-nav {
        width: 10% !important;
      }
      .main {
        width: calc(76% - 56px);
        .community {
          ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
          }
        }
        .chat-reminders {
          .chat {
            width: 70vw;
          }
          .reminders {
            width: 30vw;
            .event-content {
              .img-event {
                width: 100%;
              }
            }
          }
        }
      }
      .main-show {
        width: calc(90% - 56px) !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    .conta {
      .header {
        display: none !important;
      }
    }
    .container {
      .sidebar {
        transition-duration: 0.25s;
        width: 0% !important;
        box-shadow: unset;
        z-index: 9;
        position: absolute;
        .user-info {
          display: none;
        }
        .menu-list {
          display: none;
        }
      }
      .small-nav {
        display: none;
      }
      .active-mobile {
        transition-duration: 0.25s;
        z-index: 9;
        width: 100% !important;
        position: absolute;
        .user-info {
          display: flex;
        }
        .menu-list {
          display: block;
        }
        .menu-list {
          .logout {
            margin: 0;
          }
        }
      }
      .header {
        background: #ffffff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
        height: 95px;
        width: -webkit-fill-available;
        position: absolute;
        border-radius: 0 0 20px 20px;
        @include displayCommon;
        padding: 0 15px;
        align-items: center;
        .border-avt {
          position: relative;
          border: 2px solid $dark-pink-color;
          border-radius: 100%;
          padding: 23px;
          img {
            position: absolute;
            right: -2px;
            top: 2px;
          }
        }
      }
      .main-hide {
        display: none;
      }
      .main-show {
        display: block;
        .chat-reminders {
          .reminders {
            width: unset;
          }
        }
      }
      .main {
        width: 100% !important;
        .header-main {
          margin-top: 65px;
          .input-search {
            height: 45px;
          }
          .icon-search {
            top: 32%;
          }
        }
        .chat-reminders {
          display: block;
          .chat-content {
            margin-right: 0;
            .list-chat {
              .infor-chat {
                .set-text {
                  max-width: 450px;
                }
              }
            }
          }
          .chat {
            width: 100%;
          }
          .reminders {
            .event-content {
              .img-event {
                width: 100%;
              }
            }
          }
        }
        .community {
          .com-content {
            display: block;
            .main-img {
              margin-right: 0;
              margin-bottom: 10px;
              img {
                width: 100%;
              }
            }
          }
        }
        .header-main {
          justify-content: space-between;
          position: relative;
          .home-title {
            @include fontText($light-black, 34px, Carmen Sans);
            font-weight: 500;
            line-height: 18px;
            &:before {
              content: 'Home';
            }
          }
          .search {
            display: none;
            position: absolute;
            top: 64px;
            box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
          }
          .group-icon {
            display: flex;
            .icon-search-mobile {
              display: block;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .chat-reminders {
    .chat-content {
      .list-chat {
        .infor-chat {
          .set-text {
            max-width: 130px !important;
          }
        }
      }
    }
  }
}
