@font-face {
  font-family: Roboto;
  src: url(../../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Carmen Sans;
  src: url(../../font/carmen-sans/Carmen-Sans-SemiBold.otf);
}

body {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  margin: 0;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

body .container .small-nav {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  width: 6% !important;
}

body .container .small-nav .icon-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 20px 35px 0 0 !important;
}

body .container .small-nav .menu-list li {
  width: 250px;
}

body .container .small-nav .menu-list li:hover {
  z-index: 8;
  border-radius: 0 10px 10px 0;
}

body .container .small-nav .menu-list li:hover .active {
  color: #000;
}

body .container .small-nav .menu-list li .active {
  display: block;
  color: transparent;
}

body .container .header {
  display: none;
}

body .container .sidebar {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  width: 22%;
  min-height: 100vh;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #ffffff;
  border-radius: 0 20px 20px 0;
  -webkit-box-shadow: -3px 3px 5px 5px #cec8c8;
          box-shadow: -3px 3px 5px 5px #cec8c8;
}

body .container .sidebar .active {
  display: none;
}

body .container .sidebar .icon-arrow {
  float: right;
  margin: 20px 20px 0 0;
  border: none;
  background: none;
}

body .container .sidebar .icon-arrow:focus {
  outline: none;
}

body .container .sidebar .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 62px 0 0 25px;
}

body .container .sidebar .user-info .name-user {
  margin-left: 25px;
}

body .container .sidebar .user-info .name-user .name-big {
  font-family: Carmen Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #262626;
}

body .container .sidebar .user-info .name-user .name-profile {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #d75f8d;
}

body .container .sidebar .menu-list {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body .container .sidebar .menu-list li {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #747474;
  padding: 37px;
}

body .container .sidebar .menu-list li:hover {
  background: #e28bae;
  color: #262626;
}

body .container .sidebar .menu-list li img {
  margin-right: 35px;
}

body .container .sidebar .menu-list li .number {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 52px;
  top: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #dcd5d5;
  background: #ff00f5;
  border-radius: 100%;
  z-index: 9;
}

body .container .sidebar .menu-list .logout {
  color: #262626;
}

body .container .sidebar .menu-first {
  min-height: 72vh;
}

body .container .main {
  width: 100%;
  margin: 28px;
}

body .container .main .title-chat {
  font-family: Carmen Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: #000000;
  margin: 9px 0;
}

body .container .main .search {
  position: relative;
  width: 100%;
  margin-right: 28px;
}

body .container .main .search .input-search {
  width: 100%;
  height: 60px;
  top: 28px;
  background: #ffffff;
  border: 2px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 0 50px;
}

body .container .main .search .icon-search {
  position: absolute;
  left: 20px;
  top: 38%;
}

body .container .main .chat-reminders {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .main .chat-reminders .chat {
  width: 96%;
}

body .container .main .chat-reminders .reminders .title-reminder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body .container .main .chat-reminders .reminders .title-reminder .see-more {
  font-family: Roboto;
  color: #d75f8d;
  position: absolute;
  right: 0;
  top: 12px;
}

body .container .main .chat-reminders .reminders .event {
  margin-top: 10px;
  position: relative;
}

body .container .main .chat-reminders .reminders .event .all-events {
  font-family: Roboto;
  color: #d75f8d;
  position: absolute;
  right: 0;
  top: 12px;
}

body .container .main .chat-reminders .reminders .event-content {
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

body .container .main .chat-reminders .reminders .event-content .main-event {
  padding: 20px;
  font-family: Roboto;
}

body .container .main .chat-reminders .reminders .event-content .main-event button {
  background: #d75f8d;
  -webkit-box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border: none;
  font-weight: 600;
  margin-top: 20px;
}

body .container .main .chat-reminders .reminders .event-content .main-event p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body .container .main .chat-reminders .reminders .event-content .main-event .connect {
  font-size: 12px;
  line-height: 22px;
}

body .container .main .chat-reminders .reminders .event-content .main-event .online {
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

body .container .main .chat-reminders .reminders .event-content .main-event .date,
body .container .main .chat-reminders .reminders .event-content .main-event .des {
  line-height: 20px;
  font-size: 12px;
}

body .container .main .chat-reminders .reminders .event-content .main-event .clr {
  color: #828282;
}

body .container .main .chat-reminders .chat-content {
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 24px;
  margin-right: 28px;
}

body .container .main .chat-reminders .chat-content .guided {
  color: #747474;
  font-size: 12px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body .container .main .chat-reminders .chat-content .header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

body .container .main .chat-reminders .chat-content .header-search .search-second {
  width: 100%;
  margin-right: 35px;
  position: relative;
}

body .container .main .chat-reminders .chat-content .header-search .search-second .input-search {
  width: 100%;
  height: 50px;
  top: 28px;
  background: #ffffff;
  border: 2px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 0 50px;
}

body .container .main .chat-reminders .chat-content .header-search .search-second .icon-search-chat {
  position: absolute;
  left: 20px;
  top: 33%;
}

body .container .main .chat-reminders .chat-content .list-chat {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body .container .main .chat-reminders .chat-content .list-chat li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 0;
}

body .container .main .chat-reminders .chat-content .list-chat li .infor-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .main .chat-reminders .chat-content .list-chat li .infor-chat .avt-user {
  position: relative;
  min-width: 60px;
}

body .container .main .chat-reminders .chat-content .list-chat li .infor-chat .avt-user .active-icon {
  background: #34d377;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  position: absolute;
  right: 12px;
}

body .container .main .chat-reminders .chat-content .list-chat li .infor-chat .avt-user .multy {
  top: 4px;
  position: absolute;
  left: 10px;
}

body .container .main .chat-reminders .chat-content .list-chat li .infor-chat .avt-user img {
  margin-right: 10px;
}

body .container .main .chat-reminders .chat-content .list-chat li .infor-chat .name {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: Roboto;
}

body .container .main .chat-reminders .chat-content .list-chat li .infor-chat .des-name {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #747474;
  font-size: 12px;
  font-family: Roboto;
}

body .container .main .chat-reminders .chat-content .list-chat .time {
  color: #747474;
  font-size: 12px;
}

body .container .main .chat-reminders .reminder-content {
  min-height: 88px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .main .chat-reminders .reminder-content .card-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .main .chat-reminders .reminder-content .card-first .card-date {
  background: #e28bae;
  padding: 18px;
  width: 66px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  font-family: Carmen Sans;
  border-radius: 5px 0 0 5px;
}

body .container .main .chat-reminders .reminder-content .card-first .text {
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto;
  color: #262626;
  margin-left: 15px;
  width: 130px;
}

body .container .main .chat-reminders .reminder-content .avt {
  margin: 5px 20px 0 0;
}

body .container .main .chat-reminders .chat-search {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #747474;
  margin: 5px 42px;
}

body .container .main .community .com-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  overflow: auto;
}

body .container .main .community .main-img {
  position: relative;
  margin-right: 28px;
}

body .container .main .community .main-img .card-time {
  background: #e28bae;
  padding: 15px;
  color: #fff;
  border-top-right-radius: 10px;
  width: 180px;
  position: absolute;
  bottom: 3px;
  font-family: Roboto;
}

body .container .main .community .main-img:last-child {
  margin-right: 0;
}

body .container .main .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .main .header-main .icon-search-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  body .container .sidebar {
    width: 10%;
  }
  body .container .sidebar .icon-arrow {
    display: none;
  }
  body .container .sidebar .text-menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body .container .sidebar {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    width: 14%;
  }
}

@media only screen and (max-width: 414px) {
  body .conta .header {
    display: none !important;
  }
  body .container .sidebar {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    width: 0% !important;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    z-index: 9;
    position: absolute;
  }
  body .container .sidebar .user-info {
    display: none;
  }
  body .container .sidebar .menu-list {
    display: none;
  }
  body .container .small-nav {
    display: none;
  }
  body .container .active-mobile {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    z-index: 9;
    width: 100% !important;
    position: absolute;
  }
  body .container .active-mobile .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container .active-mobile .menu-list {
    display: block;
  }
  body .container .active-mobile .menu-list .logout {
    margin: 0;
  }
  body .container .header {
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
    height: 95px;
    width: -webkit-fill-available;
    position: absolute;
    border-radius: 0 0 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .header .border-avt {
    position: relative;
    border: 2px solid #d75f8d;
    border-radius: 100%;
    padding: 23px;
  }
  body .container .header .border-avt img {
    position: absolute;
    right: -2px;
    top: 2px;
  }
  body .container .main-hide {
    display: none;
  }
  body .container .main-show {
    display: block;
  }
  body .container .main .header-main {
    margin-top: 65px;
  }
  body .container .main .chat-reminders {
    display: block;
  }
  body .container .main .chat-reminders .chat-content {
    margin-right: 0;
  }
  body .container .main .chat-reminders .chat-content .list-chat .infor-chat .set-text {
    width: 138px;
  }
  body .container .main .chat-reminders .chat {
    width: 100%;
  }
  body .container .main .chat-reminders .reminders .event-content .img-event {
    width: 100%;
  }
  body .container .main .community .com-content {
    display: block;
  }
  body .container .main .community .com-content .main-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  body .container .main .community .com-content .main-img img {
    width: 100%;
  }
  body .container .main .header-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  body .container .main .header-main .home-title {
    font-family: Carmen Sans;
    font-weight: 600;
    font-size: 34px;
    line-height: 18px;
  }
  body .container .main .header-main .home-title:before {
    content: 'Home';
  }
  body .container .main .header-main .search {
    display: none;
    position: absolute;
    top: 60px;
    -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  }
  body .container .main .header-main .group-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container .main .header-main .group-icon .icon-search-mobile {
    display: block;
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */